[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
pandas = "*"
pydantic-settings = "*"

[dev-packages]
ipykernel = "*"
pre-commit = "*"

[scripts]
format = "pre-commit run --all-files"

[requires]
python_version = "3.12"
