[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "4.2.0"
pandas = "2.2.3"
pydantic-settings = "2.8.1"
matplotlib = "3.10.1"
seaborn = "0.13.2"
marvin = "3.0.2"
scikit-learn = "1.6.1"
statsmodels = "0.14.4"
xgboost = "3.0.0"
fastapi = "0.115.12"
streamlit = "1.44.1"
requests = "2.32.3"

[dev-packages]
pre-commit = "*"
ipykernel = "*"

[scripts]
format = "pre-commit run --all-files"

[requires]
python_version = "3.12"
